body {
    text-align: center;
    background-color: darkgreen;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
}

.frog.transition { transition: transform .45s ease; }
.frog {
    font-size: 64px;
    text-align: center;
}
