body {
    text-align: center;
    background-color: darkgreen;
    color: white;
}
p {
    font-family: "Comic Sans MS", "Comic Sans";
}
h1 {
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 64px;
}
.frog.transition { transition: transform .45s ease; }
.frog {
    font-size: 64px;
    text-align: center;
}
